# pandas
The website lessons covered in this lesson are:
- [Lesson 2.1](https://nasa-sarp.github.io/sarp_lessons/sarp_lessons/1_python_progression/2-tabular_data/2-1_pandas.html) Intro to pandas

## importing libraries

In [1]:
math.factorial(3)

NameError: name 'math' is not defined

In [2]:
import math

In [3]:
math.factorial(3)

6

## pandas

In [6]:
import pandas as pd

In [7]:
# Step 1 - Define our fake data with a dictionary
forecast_dict = {
    'temperature': [25, 20, 27, 31], 
    'humidity': [60, 65, 62, 80],
    'wind_speed': [10, 9, 10, 6]
}

In [8]:
# Step 2 - use `pd.DataFrame()` to convert our dictionary into a dataframe
# Assign it to a variable called `forecast`
forecast = pd.DataFrame(forecast_dict)

In [9]:
# View the dataframe
forecast

   temperature  humidity  wind_speed
0           25        60          10
1           20        65           9
2           27        62          10
3           31        80           6

Check your understanding label parts of data frame box

## Accessing values in a DataFrame

### Get one column

In [10]:
forecast['humidity']

0    60
1    65
2    62
3    80
Name: humidity, dtype: int64

### Get one row

In [11]:
forecast.iloc[1]

temperature    20
humidity       65
wind_speed      9
Name: 1, dtype: int64

### Get multiple columns or rows

In [12]:
forecast

   temperature  humidity  wind_speed
0           25        60          10
1           20        65           9
2           27        62          10
3           31        80           6

In [13]:
forecast[['temperature', 'wind_speed']]

   temperature  wind_speed
0           25          10
1           20           9
2           27          10
3           31           6

Notice the similarity in syntax to a list!

In [14]:
forecast.iloc[1:3]

   temperature  humidity  wind_speed
1           20        65           9
2           27        62          10

Numpy-like syntax still works for rows if you prefer that

In [26]:
forecast[1:3]

   temperature  humidity  wind_speed
1           20        65           9
2           27        62          10

You can use column indexes also, if you want

In [28]:
forecast.iloc[1, 2]

9

## Get column names

In [20]:
forecast.columns

Index(['temperature', 'humidity', 'wind_speed'], dtype='object')

In [22]:
forecast.dtypes

temperature    int64
humidity       int64
wind_speed     int64
dtype: object

:::{admonition} Vocabulary
:class: tip
**Property** or **Attribute:**  Information attached to a data structure that describes it (Ex. the size of an array). Usually accessed with dot notation (`my_dataarray.my_property`)
:::

## pandas DataFrame Methods

In [29]:
forecast.mean()

temperature    25.75
humidity       66.75
wind_speed      8.75
dtype: float64

Notice its the same `object.method()` syntax as we used for a list!

### 🌟 A note about assigning dataframes to variables

In [30]:
forecast.mean()

temperature    25.75
humidity       66.75
wind_speed      8.75
dtype: float64

In [25]:
# still the same
forecast

   temperature  humidity  wind_speed
0           25        60          10
1           20        65           9
2           27        62          10
3           31        80           6

In [ ]:
forecast = forecast.mean()

## Practice Question

Using the precipitation dataframe below create a new dataframe that shows the precipitation totals for each city.

Hint -- link to pandas aggregation page

In [31]:
precip_dict = {
    'Chennai': [5, 6, 2, 0, 1], 
    'Mumbai': [5, 8, 3, 2, 1], 
    'Jaipur': [1, 2, 0, 0, 1], 
    'Patna': [2, 3, 1, 1, 0]
}

In [38]:
precipitation_mm = pd.DataFrame(
    precip_dict, 
    index=['2024-05-01', '2024-05-02', '2024-05-03', '2024-05-04','2024-05-05']
)

In [39]:
precipitation_mm

            Chennai  Mumbai  Jaipur  Patna
2024-05-01        5       5       1      2
2024-05-02        6       8       2      3
2024-05-03        2       3       0      1
2024-05-04        0       2       0      1
2024-05-05        1       1       1      0

### Bonus Question

pandas practice question 3 (with fake data -- mediterranean air quality?)

## Filepaths

In [ ]:
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 6)